* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    align-items: center;
    padding: 0.5rem 0;
}

.logo {
    font-size: 32px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    padding: 0.5rem 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    font-size: 24px;
}

.home-title {
    margin: 1rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.count-title {
    margin: 1rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.count {
    margin: 1rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 72px;
}

.count-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-container button {
    padding: 0.3rem 0.5rem;
    display: inline;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.increment {
    background-color: green;
    color: #fff;
}

.decrement {
    background-color: red;
    color: #fff;
}